apiVersion: decisionos/v1
kind: CanarySchedule
spec:
  steps:
    - traffic_percent: 5
      hold_sec: 300
    - traffic_percent: 20
      hold_sec: 600
    - traffic_percent: 50
      hold_sec: 900
  success_requirements:
    consecutive_pass: 3
    burst_allowed: 0
    drift_threshold: 0.15
  abort_on:
    - "infra.latency_p95_over"
    - "infra.error_rate_over"
    - "canary.drift_over"
